<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let products of prod; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{products.name}}</td>
            <td>{{products.desc}}</td>
            <td>{{products.price}}</td>
            <td>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
                    (click)="onClick(products._id)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="Delete(products._id)">Delete</button>
                <button type="button" routerLink="/add-produit" class="btn btn-success">Add Product</button>
            </td>
        </tr>


    </tbody>

</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Name Product</label>
                        <input type="text" class="form-control" name="name" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="name product " [(ngModel)]="product.name">


                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description du produit</label>
                        <input type="text" class="form-control" name="desc" id="exampleInputPassword1"
                            placeholder="Description produit" [(ngModel)]="product.desc">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">prix du produit</label>
                        <input type="text" class="form-control" name="price" id="exampleInputPassword1"
                            placeholder="prix" [(ngModel)]="product.price">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>